<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
   
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <img width="50" height="50" src="assets/images/logo.png" />
          <strong id="logo-title">Events</strong>
        </a>   
      </div>
    </div>
  </header>
<router-outlet></router-outlet>